{% extends "layout.html" %}

{% block titulo %}
    Artículos Registrados
{% endblock %}

{% block contenido %}
    <h2><i class="fa-solid fa-list"></i> Lista de artículos</h2>
    <ol>
        {% for articulo in listaArticulos %}
        <br>
        <li> <a href="{% url 'wikiApp:actualizarArticulo' articulo.id %}"><i class="fa-solid fa-pen"></i> Actualizar</a>
            <ul>
                <li>Titulo : {{ articulo.titulo }}</li>
                <li>Contenido : {{ articulo.contenido }}</li>
                {% if articulo.temaR.nombre is null %}
                    <li>Tema : <i> Sin tema aginado</i></li>
                {% else %}
                    <li>Tema : {{ articulo.temaR.nombre }}</li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ol>
{% endblock %}