{% extends "layout.html" %}

{% block titulo %}
    Temas Registrados
{% endblock %}

{% block contenido %}
    <h2><i class="fa-solid fa-tags"></i> Lista de temas</h2>
    <ol>
        {% for tema in listaTemas %}
        <br>
        <li><a href="{% url 'wikiApp:actualizarTema' tema.id %}"><i class="fa-solid fa-pen"></i> Actualizar</a>
            <ul>
                <li>Nombre : {{ tema.nombre }}</li>
                <li>Descripción : {{ tema.descripcion }}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
{% endblock %}